@font-face {
    font-family: Muller;
    src: url("fonts/MullerRegular.woff2") format("woff2"), url("fonts/MullerRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Muller;
    src: url("fonts/MullerMedium.woff2") format("woff2"), url("fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Muller", sans-serif;
    color: #282423;
    background: #fff;
}

button {
    font-family: "Muller", sans-serif;
}

.sm_text {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
}

.md_text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.lg_text {
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.02em;
}

.xl_text {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.02em;
}

.text_bold {
    font-weight: 500;
}

.text_bronze {
    color: #8C6A52;
}

.text_hint {
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #909090;
}

.button {
    position: relative;
    overflow: hidden;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    border: none;
    border-radius: 27px;
    padding: 15px 34px;
    background: #fff;
    cursor: pointer;
    user-select: none;
}

.button:disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.button_thin {
    padding: 14px 24px;
}

.button_overlay:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 54px);
    height: 100%;
    background-color: #8C6A52;
    transform: skew(-45deg) translateX(-100%);
    transform-origin: 0 0;
    transition: transform .2s ease-out;
    pointer-events: none;
    z-index: 2;
    content: '';
}

.button_overlay:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #8C6A52;
    border-radius: 27px;
    content: '';
}

.button:disabled.button_overlay:after {
    border: 2px solid #ECE3DE;
}

.button:not(:disabled).button:hover.button_overlay:before {
    transform: skew(-45deg) translateX(0);
}

.button:disabled.button_overlay:before {
    transition: none;
}

.button__text {
    z-index: 2;
    color: #282423;
    transition: color .1s ease-out, transform .1s ease-in-out;
}

.button__text_wide {
    letter-spacing: 0.05em;
}

.button:hover > .button__text {
    color: #fff;
}

.button:active > .button__text {
    transform: translateY(1px);
}

.button:disabled > .button__text {
    color: #ECE3DE;
    transition: none;
    transform: none;
}

a {
    text-decoration: none;
    color: #282423;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 12px 70px 8px 64px;
}

.logo__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 36px;
}

.button_dropdown {
    height: 36px;
    position: relative;
    padding: 12px 26px 12px 16px;
    background: #8C6A52;
    border-radius: 24px;
    cursor: pointer;
    user-select: none;
    border: none;
}

.dropdown__span {
    display: block;
    position: relative;
    font-size: 11px;
    line-height: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #FFF;
    text-transform: uppercase;
    transition: transform .1s ease-in;
}

.dropdown__arrow {
    content: "";
    position: absolute;
    width: 8px;
    height: 4px;
    background: url("img/select-arrow-white.svg") 0 0 / contain no-repeat;
    display: block;
    top: 4px;
    right: -12px;
    fill: #FFF;
}

.button_dropdown:active > .dropdown__span {
    transform: translateY(1px);
}

.dropdown__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 41px;
    transition: height .35s ease-in-out, opacity .35s ease-in-out;
    z-index: 2;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.dropdown__link {
    padding-right: 16px;
}

.dropdown__link:first-child {
    margin-bottom: 5px;
}

.dropdown__menu_visible {
    height: 146px;
    opacity: 1;
}

.logo__link {
    transform: scale(1);
    transition: transform .1s ease-in;
}

.logo__link:active {
    transform: scale(.95);
}

.main-logo {
    width: 318px;
    height: 46px;
}

.header__info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 12px;
    line-height: 21px;
    height: 100%;
}

.header__info > a {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.header__info svg {
    margin-right: 4px;
}

.dropdown-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 15px;
    cursor: pointer;
}

.dropdown-container:after {
    content: "";
    width: 8px;
    height: 4px;
    background: url("img/select-arrow.svg") 0 0 / contain no-repeat;
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: -16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0;
    width: 200px;
    background: #fff;
    padding: 0 16px;
    transition: height .35s ease-in-out;
    z-index: 3;
}

.dropdown-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 15px;
    align-items: flex-end;
}

.dropdown-item:first-child {
    padding-top: 20px;
}

.dropdown-item:last-child {
    padding-bottom: 20px;
    margin-bottom: 0;
}

.dropdown-item span {
    color: #807d7d;
}

.dropdown.active {
    height: 146px;
    box-shadow: 0 2px 6px rgb(40 36 35 / 10%);
}


.content {
    padding: 0 64px 160px;
}

.content__header {
    margin-left: 128px;
}

.main-title {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0.01em;
    margin: 100px 0 30px;
    font-weight: 400;
    word-break: break-word;
    hyphens: auto;
}

.content__header .sm_text {
    max-width: 848px;
}

.divider-bar {
    height: 10px;
    width: 100%;
    margin: 50px 0 80px;
    background: #5A085A;
}

.steps__container {
    margin-left: 128px;
}

.steps__container.steps__container_invisible {
    display: none;
}

.content__step {
    display: none;
}

.content__step.active_step {
    display: block;
}

.start_step .sm_text {
    max-width: 848px;
}

.start_step .xl_text {
    margin-bottom: 40px;
}

.start_step .button {
    margin-top: 40px;
}


.content__page {
    max-width: 635px;
}

.content__page > .lg_text {
    font-weight: 500;
}

.progress {
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.progress_visible {
    display: flex;
}

.progress-counter {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #807D7D;
    margin-bottom: 4px;
}

.progress-bar {
    position: relative;
    height: 4px;
    width: 100%;
    background: #F2F2F2;
    margin-bottom: 40px;
    overflow: hidden;
}

.bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #8C6A52;
    width: calc(1 / 9 * 100%);
    transition: width 0.3s ease-in-out;
}


.radio-group {
    margin: 20px 0 40px;
}

.radio-item {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-mark {
    position: absolute;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #FFF;
    border: 1px solid #8C6A52;
    border-radius: 50%;
}

.radio-item:hover input ~ .radio-mark {
    background-color: #FAF6F4;
}

.radio-item input:checked ~ .radio-mark {
    background-color: #FFF;
}

.radio-mark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-item input:checked ~ .radio-mark:after {
    display: block;
}

.radio-item .radio-mark:after {
    top: 3px;
    left: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #5A085A;;
}


.button-container {
    display: none;
    align-items: center;
    justify-content: flex-start;
}

.button-container_visible {
    display: flex;
}

.button_transparent {
    padding: unset;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #807D7D;
    letter-spacing: 0.05em;
    font-weight: 400;
}

.back__button {
    display: none;
    margin-right: 120px;
}

.back__button_visible {
    display: block;
}

.button_transparent:hover {
    background: none;
    color: #000;
}


.slider__container {
    width: 288px;
}

.slider__container_margin {
    margin-bottom: 40px;
}

.slider__label {
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 20px 0 8px;
}

.slider__value {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #282423;
    margin-bottom: 8px;
}

.slider__ranges {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0 20px;
    line-height: 9px;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background: #8C6A52;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #FFF;
    border: 2px solid #8C6A52;
    border-radius: 12px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    background: #FFF;
    border: 2px solid #8C6A52;
    border-radius: 12px;
    cursor: pointer;
}

.avg-loss {
    color: #8C6A52;
    margin: 0 0 40px;
}

.content__prompt {
    display: none;
    padding: 40px;
    max-width: 848px;
    background: #FAF6F4;
    margin-bottom: 40px;
}

.content__prompt > :first-child {
    margin-bottom: 20px;
    font-weight: 500;
}

.content__prompt_visible {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.link__button {
    margin-top: 40px;
    color: #8C6A52;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.arrow__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__right-arrow {
    margin-left: 14px;
    width: 20px;
    height: 24px;
    transform: rotate(90deg);
    transition: transform .2s ease-out;
}

.arrow__line {
    background-color: #8C6A52;
    display: block;
    height: 2px;
    width: 22px;
    left: 12px;
    position: absolute;
    transition: width .2s ease-out;
    pointer-events: none;
}

.link__button:hover .button__right-arrow {
    transform: rotate(90deg) translateY(-31px);
}

.link__button:hover .arrow__line {
    width: 33px;
}


.results {
    margin-left: 128px;
    display: none;
}

.results_visible {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.result {
    display: none;
    max-width: 848px;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 54px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #FAF6F4;
}

.result > .xl_text,
.results > .lg_text,
.result > .md_text {
    font-weight: 500;
}

.result_visible {
    display: flex;
}

.result__description {
    margin: 20px 0;
}

.pie-chart__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}

.pie-chart {
    width: 267px;
    height: 267px;
    margin-right: 36px;
}

.pie-chart__description {
    display: flex;
    flex-direction: column;
}

.pie-chart__description .text_bold {
    color: #8C6A52;
    line-height: 32px;
    font-weight: 700;
    margin-right: 6px;
}

.result__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.result__link .link__button {
    margin-top: 0;
    margin-left: 36px;
    flex-shrink: 0;
}


.footer {
    background-color: #5A085A;
    color: #FAF6F4;
    padding: 24px 64px 32px 192px;
    position: relative;
}

.footer__bottom-arrow {
    position: absolute;
    left: 64px;
    top: 28px;
    cursor: pointer;
}

.footer__bottom-arrow > path {
    transition: fill .3s cubic-bezier(.25, .46, .45, .94);
}

.footer__bottom-arrow:hover > path {
    fill: #8b95a4;
}

.footer__copyright-text {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.02em;
    opacity: 0.5;
    margin-bottom: 12px;
}

.footer__copyright {
    font-size: 10px;
    line-height: 21px;
    letter-spacing: 0.02em;
}


@media only screen and (max-width: 768px) {
    .main-title {
        margin: 60px 0 20px;
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 0.01em;
    }

    .header {
        padding: 14px 16px 0;
        height: auto;
    }

    .logo__container {
        margin-top: 20px;
    }

    .main-logo {
        width: 205px;
        height: 30px;
    }

    .xl_text {
        font-size: 24px;
        line-height: 32px;
    }

    .start_step .sm_text {
        max-width: unset;
    }

    .start_step .xl_text {
        margin-bottom: 22px;
    }

    .content__header, .steps__container, .results {
        margin-left: 0;
    }

    .content {
        padding: 0 16px 100px;
    }

    .divider-bar {
        margin: 36px 0 40px;
    }

    .progress-bar {
        margin-bottom: 22px;
    }

    .content__page > .lg_text {
        line-height: 32px;
    }

    .back__button {
        margin-right: 82px;
    }

    .slider__container {
        width: auto;
    }

    .result {
        margin-top: 22px;
        margin-bottom: 40px;
        padding: 30px 35px 30px 20px;
    }

    .result__description {
        margin: 20px 0;
    }

    .pie-chart__description > :not(:last-child) {
        margin-bottom: 10px;
    }

    .pie-chart {
        width: 207px;
        height: 207px;
    }

    .footer {
        padding: 84px 16px 45px;
    }

    .footer__bottom-arrow {
        left: 16px;
        top: 40px;
    }
}

@media only screen and (max-width: 598px) {
    .pie-chart__container {
        flex-direction: column;
        align-items: flex-start;
        margin: 20px 0 40px;
    }

    .pie-chart {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .result {
        padding: 30px 15px;
    }

    .result__link {
        flex-direction: column;
        align-items: flex-start;
    }

    .result__link .link__button {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 450px) {
    .main-logo {
        width: auto;
        height: 25px;
    }
}

@media only screen and (max-width: 400px) {
    .main-logo {
        height: 15px;
    }
}